.todoForm {
  padding: 16px;
}

.inputForm {
  display: flex;
  align-items: center;
}

.inputTodo {
  padding: 0 64px;
  flex: 1;
  background: unset;
  border: unset;
  outline: unset;
  border-bottom: 1px solid var(--main-red-color);
  font-family: "Homemade Apple", sans-serif;
  text-decoration: lowercase;
  font-size: 16px;
}

.addTodo {
  padding: 16px;
  background: unset;
  outline: unset;
  border: unset;
  font-family: "Bungee", sans-serif;
  font-size: 1.8rem;
  cursor: pointer;
}

.addTodo:active {
  text-shadow: 1px 1px 2px var(--main-black-color);
}
